.t-align-c{
        text-align: center;
}
.searcharea{
        height: 80px;
        text-align: center;
}
.input_search{
        width: 40%;
        height: 42px;
        border: 2px solid gray !important;
        border-radius:5px;
        -webkit-border-radius:5px !important;
        -moz-border-radius:5px;
}
@media(max-width:600px){
        .input_search{
                width: 70%;
                height: 30px;
                border: 2px solid gray !important;
                border-radius:5px;
                -webkit-border-radius:5px !important;
                -moz-border-radius:5px;
        }
        .searcharea{
                height: auto;
                text-align: center;
                padding-top: 10px;
        }
}

.btn_search{
        height: 41px;
        margin-bottom: 3px;
}
.mtit{
        //border: 1px solid black;
}
.C2Scontent{
        //border: 1px solid red;
        width: 100%;
        height: auto;
	color: rgb(99, 99, 99);
}
.boxlist{
        float: left;
        width: 73%;
        height: 100%;
        //border: 1px solid green;
}
.postbox{
        float: left;
        width: 33%;
        height: auto;
        //border: 1px solid lightgray;
}
.postbox li {
	overflow: hidden;
}
.postbox li:nth-child(2) div{
	max-width: 50%;
	float:left;
	padding-right: 5px;
	font-size: 15px;
}
.postbox li:nth-child(2){
	font-size: 12px;
}
.postbox a:hover, .boxlabel a:hover {
	background-color: lightgrey;
}
.postbox textarea {
	resize:none;
	border:0px;
	overflow:hidden;
	background-color:white;
	cursor:text;
	white-space:normal;
	padding-left: 0px;
} 
.postbox textarea:focus {
	box-shadow: none;
}

.over-text-dot {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
}
.topic-title {
	font-weight: bold;
	font-size: 16px;
}
.rightbox{
        float: left;
        width: auto;
        max-width: 295px;
        height: 600px;
        //border-left: 1px solid lightgray;
}
.boxlabel{
        float: left;
        width: 100%;
        height: 100%;
        //border-bottom: 1px solid lightgray;
        margin-bottom: 5px;
        background-color: #f7f7f7;
}
.boxlabel .mtit{
        margin: 0px;
}
.boxlabel span:nth-child(1){
	font-size:20px;
	padding-left:10px;
	line-height:30px;
}
.boxlabel span:nth-child(2){
	font-size:20px;
	color:dimgray;
	padding-left:10px;
	position:relative;
	top:0px;
	cursor:help;
}
.boxlabel span:nth-child(2):hover{
	color:#e45735;
}
.boxlabel span:nth-child(3){
	font-size: 12px;
	color: dimgray;
	padding-left: 10px;
	display: none;
}
.boxlabel span:nth-child(4){
	float:right;
	line-height:30px;
	padding-right:10px;
}
.noticebox, .tagbox{
        min-height: 45%;
        height: auto;
        padding: 10px;
        margin: 0 5px 5px 5px;
        //border: 1px solid lightgray;
        background-color: #f7f7f7;
}

/* mixin for multiline */
@mixin multiLineEllipsis($lineHeight: 1.15em, $lineCount: 1, $bgColor: white){
  overflow: hidden;
  position: relative;
  line-height: 1.3em;//$alineHeight;
  max-height: $lineHeight * $lineCount; 
  text-align: justify;
  margin-right: -1em;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-right: 2em;
  white-space: normal !important;
  font-size: 12px;
  &:before {
    content: '...';
    position: absolute;
    right: 1em;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 1em;
    width: 1.5em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }

}

.block-with-text {
  @include multiLineEllipsis($lineHeight: 1.32em, $lineCount: 3, $bgColor: white);  
}

/**button**/
@charset "utf-8";

/* Com2us Platform Design Team. Author : Choi Hyunsun 2013-01-15. Edit : Choi Hyunsun 2013-01-15 */

/* button */
.button {
        color: #000;
        display:inline-block;
        vertical-align:middle;
        padding:2px 12px 3px;
        outline:none;
        cursor:pointer;
        text-align:center;
        text-decoration:none;
        border:1px solid #b7b7b7;
        text-shadow:0 1px 1px rgba(0,0,0,.3);
        border-radius:3px;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        box-shadow:0 1px 2px rgba(0,0,0,.3);
        -webkit-box-shadow:0 1px 2px rgba(0,0,0,.3);
        -webkit-box-shadow:0 1px 2px rgba(0,0,0,.3);
        border: solid 1px #b7b7b7;
        background: #fff;
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
        background: -moz-linear-gradient(top,  #fff,  #ededed);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
* html .button  {vertical-align:top;}/* for IE6 */
.button:hover {
        text-decoration: none;
        color: #666;
        background: #ededed;
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
        background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}

/* black */
.black {
        color: #fff;
        border: solid 1px #333;
        background: #333;
        background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
        background: -moz-linear-gradient(top,  #666,  #000);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}
.black:hover {
        color: #fff;
        background: #000;
        background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
        background: -moz-linear-gradient(top,  #444,  #000);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
}

/* orange */
.orange {
        color: #fff;
        border: solid 1px #da7c0c;
        background: #f78d1d;
        background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
        background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
        color: #fff;
        background: #f47c20;
        background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
        background: -moz-linear-gradient(top,  #f88e11,  #f06015);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}

/* red */
.red {
        color: #fff;
        border: solid 1px #980c10;
        background: #d81b21;
        background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
        background: -moz-linear-gradient(top,  #ed1c24,  #aa1317);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}
.red:hover {
        color: #fff;
        background: #a11115;
        background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
        background: -moz-linear-gradient(top,  #c9151b,  #a11115);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
}

/* blue */
.blue {
        color: #fff;
        border: solid 1px #0068d7;
        background: #a2cefd;
        background: -webkit-gradient(linear, left top, left bottom, from(#a2cefd), to(#007bff));
        background: -moz-linear-gradient(top,  #a2cefd,  #007bff);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#a2cefd', endColorstr='#007bff');
}
.blue:hover {
        color: #fff;
        background: #67b1ff;
        background: -webkit-gradient(linear, left top, left bottom, from(#67b1ff), to(#007bff));
        background: -moz-linear-gradient(top,  #67b1ff,  #007bff);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#67b1ff', endColorstr='#007bff');
}

/* green */
.green {
        color: #fff;
        border: solid 1px #538312;
        background: #64991e;
        background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
        background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.green:hover {
        color: #fff;
        background: #538018;
        background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
        background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
/* small red */
.sred {
        color: #000;
        border: solid 1px #ff4848;
        background: #ff7e7e;
        background: -webkit-gradient(linear, left top, left bottom, from(#ffb6b6), to(#ff7e7e));
        background: -moz-linear-gradient(top,  #ffb6b6,  #ff7e7e);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb6b6', endColorstr='#ff7e7e');
}
.sred:hover {
        color: #000;
        background: #ff7e7e;
        background: -webkit-gradient(linear, left top, left bottom, from(#ff7e7e), to(#ffb6b6));
        background: -moz-linear-gradient(top,  #ff7e7e,  #ffb6b6);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7e7e', endColorstr='#ffb6b6');
}

/* small blue */
.sblue {
        color: #000;
        border: solid 1px #47b0ff;
        background: #6cc0ff;
        background: -webkit-gradient(linear, left top, left bottom, from(#a5d8ff), to(#6cc0ff));
        background: -moz-linear-gradient(top,  #a5d8ff,  #6cc0ff);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5d8ff', endColorstr='#6cc0ff');
}
.sblue:hover {
        color: #000;
        background: #6cc0ff;
        background: -webkit-gradient(linear, left top, left bottom, from(#6cc0ff), to(#a5d8ff));
        background: -moz-linear-gradient(top,  #6cc0ff,  #a5d8ff);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6cc0ff', endColorstr='#a5d8ff');
}

.tag.button{
        margin-bottom: 5px;

}
/** /////--------button **/

/* 
 * 검색 결과 페이지에 confluence 검색결과를 추가한다
 * 그에따른 탭 메뉴 추가와 그에 관련된 css를 정의함
 */
.search-tab {
        border-bottom: 1px solid red;
}
.search-tab ul {
        margin: 0px;
}

.display-none {
        display: none;
}
.list-style-none {
        list-style: none;
}

.confluence-ol {
        padding: 0px;
}
.confluence-ol li {
        max-width: 700px;
}
.confluence-ol li div{
        // border: 1px solid red;
        max-height: 200px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
}
.tab_item {
        // max-height: 700px;
        // overflow: hidden;
}
.paginate-dev {
        text-align: center;
        font-size: 15px;        
}
.paginate-dev span {
        padding: 5px;
}
.tab_item.tab_1 {
        padding-bottom: 50px;        
}
.bold {
        font-weight: bold;
}
.selected {
        font-size: 20px;
}
.search-spinner-wrapper {
        text-align: center;
}
.search-spinner {        
        position: fixed;
        display: inline-block;
        top: 40%;
}
.confluence-ol {
        padding-left: 20px;
        max-width: 680px;
}
.search-name {
        font-weight: bold;
        font-size: 17px;
}