.t-align-c{
        text-align: center;
}
.searcharea{
        height: 70px;
        text-align: center;
        padding-top: 10px;
}
.input_search{
        width: 40%;
        height: 42px;
        border: 2px solid gray !important;
        border-radius:5px;
        -webkit-border-radius:5px !important;
        -moz-border-radius:5px;
}
@media(max-width:600px){
        .input_search{
                width: 70%;
                height: 30px;
                border: 2px solid gray !important;
                border-radius:5px;
                -webkit-border-radius:5px !important;
                -moz-border-radius:5px;
        }
        .searcharea{
                height: auto;
                text-align: center;
                padding-top: 10px;
        }
}

.btn_search{
        height: 41px;
        margin-bottom: 3px;
}
.mtit{
        //border: 1px solid black;
}
.C2Scontent {
        //border: 1px solid red;
        width: 100%;
        height: auto;
	color: #2d2d2d;//rgb(99, 99, 99);
}
#list-area {
        min-height: 1px;
}
.boxlist {
        float: left;
        width: 73%;
        height: 100%;
        //border: 1px solid green;
}
.right-area {
        float: right;
        width: 75%;
        height: 100%;
}
.list-box {
        float: left;
        width: 100%;
        margin-bottom: 10px;
}
.list-box table {
        width: 100%;
}
.list-box table thead a, .list-box .boxlabel a {
        color:#636363;
}
.list-box table thead a:hover, .list-box .boxlabel a:hover{
        color:#e45735;
}
.list-box table tbody a, .list-box .postbox a {
        //color:#E07300;
}
.list-box table tbody {
        tr:nth-last-child(n+4) td a {
                color: #2a84d8;
        }
        tr td a {
                display: inline-block;
                max-width: 500px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                vertical-align: top
        }
}
.list-box table thead, .list-box .boxlabel {
        background-color: #f7f7f7;
        font-size: 15px;
        font-family: sans-serif;        
}
.list-box table thead tr span:nth-child(2):hover{
	color:#e45735;
}
.list-box table thead tr span:nth-child(3) {
        font-size: 12px;
        display: none;
}
.list-box table thead td:nth-last-child(1), .list-box table thead td:nth-last-child(2){
        font-size: 13px;
        text-align: center;
}
.list-box table tr td:nth-child(1){
        padding-left: 10px;
}
.list-box table tbody {
        font-size: 13px;
        font-family: sans-serif;
        //font-weight: 600;
}
.list-box table tbody, .list-box table tbody tr {
        border: 0px;        
}
.list-box table tbody td {
        padding-top: 5px;    
}
.list-box table tbody tr td:nth-child(3), .list-box table tbody tr td:nth-child(4) {
        text-align: center;
}

.list-box .postbox:nth-last-child(1){
        height: 20px;
}
.postbox{
        float: left;
        width: 33%;
        height: auto;
        //border: 1px solid lightgray;
}
.postbox li {
	overflow: hidden;
}
.postbox li:nth-child(2) div{
	max-width: 50%;
	float:left;
	padding-right: 5px;
	font-size: 13px;
}
.postbox li:nth-child(2){
	font-size: 12px;
}
.postbox a:hover, .list-box table tbody tr:hover {
	background-color: lightgrey;
}
.postbox textarea {
	resize:none;
	border:0px;
	overflow:hidden;
	background-color:white;
	cursor:text;
	white-space:normal;
        padding-left: 0px;
        margin:0px;
} 
.postbox textarea:focus {
	box-shadow: none;
}
.postbox ul {
        margin-bottom: 0px;
        margin-left: 10px;
}
.post-profile {
        display: none;
}
.post-profile span {
        padding-right: 5px;
}


.over-text-dot {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
}
.topic-title {
	font-weight: bold;
	font-size: 16px;
}
.rightbox, .leftbox, .left-area{
        float: left;
        width: 24%;
        width: -webkit-fill-available;
        max-width: 270px;
        height: 600px;
        //border-left: 1px solid lightgray;
}
.boxlabel{
        float: left;
        width: 100%;
        height: 100%;
        //border-bottom: 1px solid lightgray;
        margin-bottom: 5px;
        background-color: #f7f7f7;
}
.boxlabel .mtit{
        margin: 0px;
}
.boxlabel span:nth-child(1){
	font-size:15px;
	padding-left:10px;
	line-height:30px;
}
.boxlabel span:nth-child(2), .list-box table thead tr span:nth-child(2){
	font-size:15px;
	color:dimgray;	
	position:relative;
	top:0px;
	cursor:help;
}
.boxlabel span:nth-child(2):hover{
	color:#e45735;
}
.boxlabel span:nth-child(3){
	font-size: 12px;
	color: dimgray;
	padding-left: 10px;
	display: none;
}
.boxlabel span:nth-child(4){
	float:right;
	line-height:30px;
	padding-right:10px;
}
.noticebox, .tagbox {
        min-height: 15%;
        height: auto;
        padding: 5px;
        margin-bottom: 5px;
        //border: 1px solid lightgray;
        background-color: #f7f7f7;
        a {
                font-size: 12px;
        }
}
.tagbox {
        margin-top: 20px;
}

.w100 {
        width: 100%;
}
.m0 {
        margin: 0px;
}

/* mixin for multiline */
@mixin multiLineEllipsis($lineHeight: 1.15em, $lineCount: 1, $bgColor: white){
  overflow: hidden;
  position: relative;
  line-height: 1.3em;//$alineHeight;
  max-height: $lineHeight * $lineCount; 
  text-align: justify;
  margin-right: -1em;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-right: 2em;
  white-space: normal !important;
  font-size: 12px;
  &:before {
    content: '...';
    position: absolute;
    right: 1em;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 1em;
    width: 1.5em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }

}

.block-with-text {
  @include multiLineEllipsis($lineHeight: 1.32em, $lineCount: 3, $bgColor: white);  
}

/**button**/
@charset "utf-8";

/* Com2us Platform Design Team. Author : Choi Hyunsun 2013-01-15. Edit : Choi Hyunsun 2013-01-15 */

/* button */
.button {
        color: #000;
        display:inline-block;
        vertical-align:middle;
        padding:2px 12px 3px;
        outline:none;
        cursor:pointer;
        text-align:center;
        text-decoration:none;
        border:1px solid #b7b7b7;
        text-shadow:0 1px 1px rgba(0,0,0,.3);
        border-radius:3px;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        box-shadow:0 1px 2px rgba(0,0,0,.3);
        -webkit-box-shadow:0 1px 2px rgba(0,0,0,.3);
        -webkit-box-shadow:0 1px 2px rgba(0,0,0,.3);
        border: solid 1px #b7b7b7;
        background: #fff;
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
        background: -moz-linear-gradient(top,  #fff,  #ededed);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
* html .button  {vertical-align:top;}/* for IE6 */
.button:hover {
        text-decoration: none;
        color: #666;
        background: #ededed;
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
        background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}

/* black */
.black {
        color: #fff;
        border: solid 1px #333;
        background: #333;
        background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
        background: -moz-linear-gradient(top,  #666,  #000);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}
.black:hover {
        color: #fff;
        background: #000;
        background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
        background: -moz-linear-gradient(top,  #444,  #000);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
}

/* orange */
.orange {
        color: #fff;
        border: solid 1px #da7c0c;
        background: #f78d1d;
        background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
        background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
        color: #fff;
        background: #f47c20;
        background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
        background: -moz-linear-gradient(top,  #f88e11,  #f06015);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}

/* red */
.red {
        color: #fff;
        border: solid 1px #980c10;
        background: #d81b21;
        background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
        background: -moz-linear-gradient(top,  #ed1c24,  #aa1317);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}
.red:hover {
        color: #fff;
        background: #a11115;
        background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
        background: -moz-linear-gradient(top,  #c9151b,  #a11115);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
}

/* blue */
.blue {
        color: #fff;
        border: solid 1px #0068d7;
        background: #a2cefd;
        background: -webkit-gradient(linear, left top, left bottom, from(#a2cefd), to(#007bff));
        background: -moz-linear-gradient(top,  #a2cefd,  #007bff);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#a2cefd', endColorstr='#007bff');
}
.blue:hover {
        color: #fff;
        background: #67b1ff;
        background: -webkit-gradient(linear, left top, left bottom, from(#67b1ff), to(#007bff));
        background: -moz-linear-gradient(top,  #67b1ff,  #007bff);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#67b1ff', endColorstr='#007bff');
}

/* green */
.green {
        color: #fff;
        border: solid 1px #538312;
        background: #64991e;
        background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
        background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.green:hover {
        color: #fff;
        background: #538018;
        background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
        background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
/* small red */
.sred {
        color: #000;
        border: solid 1px #ff4848;
        background: #ff7e7e;
        background: -webkit-gradient(linear, left top, left bottom, from(#ffb6b6), to(#ff7e7e));
        background: -moz-linear-gradient(top,  #ffb6b6,  #ff7e7e);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb6b6', endColorstr='#ff7e7e');
}
.sred:hover {
        color: #000;
        background: #ff7e7e;
        background: -webkit-gradient(linear, left top, left bottom, from(#ff7e7e), to(#ffb6b6));
        background: -moz-linear-gradient(top,  #ff7e7e,  #ffb6b6);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7e7e', endColorstr='#ffb6b6');
}

/* small blue */
.sblue {
        color: #000;
        border: solid 1px #47b0ff;
        background: #6cc0ff;
        background: -webkit-gradient(linear, left top, left bottom, from(#a5d8ff), to(#6cc0ff));
        background: -moz-linear-gradient(top,  #a5d8ff,  #6cc0ff);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5d8ff', endColorstr='#6cc0ff');
}
.sblue:hover {
        color: #000;
        background: #6cc0ff;
        background: -webkit-gradient(linear, left top, left bottom, from(#6cc0ff), to(#a5d8ff));
        background: -moz-linear-gradient(top,  #6cc0ff,  #a5d8ff);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6cc0ff', endColorstr='#a5d8ff');
}

.tag.button{
        margin-bottom: 5px;

}
/** /////--------button **/

/* 
 * 검색 결과 페이지에 confluence 검색결과를 추가한다
 * 그에따른 탭 메뉴 추가와 그에 관련된 css를 정의함
 */
.search-tab {
        border-bottom: 1px solid red;
}
.search-tab ul {
        margin: 0px;
}

.display-none {
        display: none;
}
.list-style-none {
        list-style: none;
}

.confluence-ol {
        padding: 0px;
}
.confluence-ol li {
        max-width: 700px;
}
.confluence-ol li div{
        // border: 1px solid red;
        max-height: 200px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
}
.tab_item {
        // max-height: 700px;
        // overflow: hidden;
}
.paginate-dev {
        text-align: center;
        font-size: 15px;        
}
.paginate-dev span {
        padding: 5px;
}
.tab_item.tab_1 {
        padding-bottom: 50px;        
}
.bold {
        font-weight: bold;
}
.selected {
        font-size: 20px;
}
.search-spinner-wrapper {
        text-align: center;
}
.search-spinner {        
        position: fixed;
        display: inline-block;
        top: 40%;
}
.confluence-ol {
        padding-left: 20px;
        max-width: 680px;
}
.search-name {
        font-weight: bold;
        font-size: 17px;
}

// devtwo
.devtwo-area {
        //border: 1px solid red;
        width: 100%;
        height: 100%;
        font-family: 'MuseoSans-500','Malgun Gothic',Helvetica,Arial,sans-serif;
}
.devtwo-table, .devtwo-top {
        width: 100%;        
        //margin: 0px 1%;
}
.devtwo-table a{        
        color: #2d2d2d;
}
.devtwo-table a:hover{
        text-decoration: underline;
}
.devtwo-table tbody{        
        display:block;
        border: 1px solid #cfcfcf;
        border-collapse: separate;
        margin-bottom: 5px;        
}
.devtwo-table tbody tr:first-child td:nth-child(1) {
        width: 300px;   
        padding: 15px;
        background-color: #f9f9f9;
}
.devtwo-table tbody tr:nth-child(n+2) td:last-child {
        padding: 5px 20px;
        height: 20px;
}
.devtwo-top {
        padding-top: 20px;
        padding-bottom: 20px;
}
.devtwo-description {
        display: inline-block;
        width: 750px;
}
.fs-30 {
        font-size: 30px;
}
.fs-25 {
        font-size: 25px;
}
.fs-20 {
        font-size: 20px;
}
.fs-15 {
        font-size: 15px;
}
.fs-12 {
        font-size: 12px;
}
.f-r {
        float: right;
}
.c-1e9cd8{
        color: #1e9cd8;
}
.borard-descripton div {        
        padding: 0px 3px 10px 0px;        
}
.devtwo-table .svg-icon {
        height: 5px;
        width: 5px;
        vertical-align: 0.1em;
}
.devtwo-shader-box {
        display: inline-block;
        width: 32%;
}
/*
.d-header {
        margin-bottom: 0px !important;
        position: relative;
}
*/
.header-underline {
        width:100%;
        height:30px;
        background-color:#f2f2f2;
        //border-bottom: 1px solid #e5e5e5;
        box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}
.devtwo-search form {
        padding-top: 35px;
        font-size: 17                                                                                                                                         x;
}
.devtwo-search form input {
        background-color: inherit;
        border: 0;
        margin: 0;
}
.devtwo-search form input:focus {
        outline: 0;
        box-shadow: none;
}

.list-controls {
        width: 100%;
        position: absolute;
        left: 0;
        background-color: #f2f2f2;
        box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}

.list-controls .container {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        width: 1100px;
}
.container.list-container {
        margin-top: 60px;
}

#main-outlet {
        padding-top: 4.15em !important;
}
.row .full-width .admin-main-nav, .search-container {      //관리자 페이지 상단이 너무 붙어서 10px 떨어뜨림
        padding-top: 10px;
}
.btn {
        background-color: #2a84d8;
        color:white;
}
.btn .d-icon {
        color: white;
}
.site-guide-box, .category-box {
        height: auto;
        //border: 1px solid lightgray;
        background-color: #f7f7f7;
        a {
                font-size: 12px;
        }
}
.category-box:last-child {
        margin-top: 20px;
}
.site-guide-box {
        margin-top: 20px;
        margin-bottom: 5px;
}
.site-guide-box a {
        padding: 5px;
        color: #2a84d8;
}
.site-guide-box ul {
        margin-bottom: 0;
}
.site-guide-box li {        
        padding-top: 5px;
}
.site-guide-box li:last-child{        
        padding-bottom: 20px;
}
.site-guide-box a:hover {
        background-color: #a7a7a7;
        color: white;
}
.guide-link, .category-link {
        border: 0;
        border-bottom: 5px;
        border-style: solid;
        border-color: white;
        font-size: 12px;
        text-align: left;
        padding: 5px 5px 5px 5px;
        color: #2d2d2d;
}
.guide-opener {
        border: 0;        
        font-size: 12px;
        text-align: left;
        padding: 5px 5px 5px 5px;
        color: #2d2d2d;
}
.guide-opener:hover {
        cursor: pointer;
        background-color: #a7a7a7;
        color: white;
}

.category-box .category-link {
        font-size: 12px;
        //height: 25px;
        //line-height: 30px;
}
.category-box .category-link span:nth-child(2), .guide-opener span:nth-child(2), .tags-label span:nth-child(2){
        padding-left: 10px;
        position: absolute;
        padding-top: 10px;
}
.category-box .category-link span:nth-child(3), .guide-opener span:nth-child(3){        
        padding-top: 7px;
        padding-right: 15px;
}
.category-box .category-link:hover, .guide-list:hover {
        background-color: #a7a7a7;
        color: white;
}
.tags-label{
        font-size: 12px;
        text-align: left;
        padding: 0 0 10px 0;
}
#navigation-bar li[title=main], #navigation-bar li[title=main2] {
        display: none;
}
